<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.psp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.psp.ChartActivity"></activity>
        <activity
            android:name="com.example.psp.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <!--
                     change host and path prefix to your domain where assetlinks.json available
                     Eg. https://www.example.com/android/resources/.well-known/assetlinks.json
                -->
                <data
                    android:host="www.example.com"
                    android:pathPrefix="/android/resources"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.psp.LineChartActivity" />
    </application>

</manifest>